/* Common CSS */
body {
    font-family: 'Poppins', sans-serif;;
}

.buy-now-button {
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

p {
    color: #707070;
}

a {
    text-decoration: none;
}

.yellow-text {
    color: #FF9D00;
}

/* Carousel CSS */
.carousel-section p {
    text-align: justify;
}

.carousel-item {
    background-image: url("images/bg-1.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
}

/* Smartphone CSS */
.smartphone .card {
    border: none;
    border-radius: 20px;
}

/* Footer CSS */
footer span {
    color: #FFD019;
}